*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.slider{
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.image{
  /* background-image: img_item;
  background-repeat: no-repeat;
  background-size: cover; */
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width:100vw;
  height:100vh;
}

.hero-content{
  z-index: 10;
  color: #fff;
  font-size: clamp(1rem, 5vw, 3rem);
  margin-left: 36px;
  padding-left: 78px;
  margin-bottom: 110px;
}

.right-arrow{
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: red;
  z-index:10;
  cursor: pointer;
  user-select: none;
}

.left-arrow{
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color: red;
  z-index:10;
  cursor: pointer;
  user-select: none;
}
